BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
ContinuationIndentWidth: 2
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
Standard: Cpp17
SortIncludes: true
IncludeBlocks: Regroup
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
AlignOperands: true
BinPackParameters: false
BinPackArguments: false
ReflowComments: true
NamespaceIndentation: None
DerivePointerAlignment: false
EmptyLineBeforeAccessModifier: LogicalBlock
KeepEmptyLinesAtTheStartOfBlocks: false
SpacesInCStyleCastParentheses: false
SpaceAfterTemplateKeyword: true
Cpp11BracedListStyle: true
SortUsingDeclarations: true
SpaceBeforeCpp11BracedList: false